
@{
    ViewBag.Title = "Index";
}

<h2>Catalogo de Produtos</h2>
<!--Selecionar o produto e trazer seus dados-->

<a href="~/PRODUTO/Buscar?prd=1">PRODUTO 1</a>

<a href="~/PRODUTO/Buscar?prd=5">PRODUTO 5</a>

<a href="~/PRODUTO/Buscar?prd=10">PRODUTO 10</a>